#carrinho {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrinho-body {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

#main-detalhes {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#barra-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

#label-barra {
    color: white;
    font-size: larger;
    font-family: 'Work Sans', sans-serif;
    margin: 8px;
}

#div-produto {
    /*border-right: 0.5px solid #B6B6B8;*/
    display: flex;
    flex-direction: column;
    flex: 3;
}

#div-descricoes-produto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*border-top: 0.5px solid #B6B6B8;*/
}

#div-descricoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    /*border-top: 0.5px solid #B6B6B8;*/
}

#div-preco-unitario {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*border-right: 0.5px solid #B6B6B8;*/
}

#div-delete {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#div-quantidade-barra {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*border-right: 0.5px solid #B6B6B8;*/
}

#div-subtotal {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*border-right: 0.5px solid #B6B6B8;*/
}

#imagem-produto {
    width: 100px;
    height: 100px;
    margin: 8px;
}

#label-nome-produto {
    margin: 8px;
    font-family: 'Work Sans', sans-serif;
}

#label-preco-produto {
    margin: 8px;
    color: green;
    font-family: 'Work Sans', sans-serif;
}

#label-quantidade-produto {
    margin: 8px;
}

#main-obs {
    width: 100%;
    border-top: 0.5px solid #B6B6B8;
    display: flex;
    flex-direction: column;
}

#div-cep {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#div-cupom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;

}

#div-label-cep {
    display: flex;
    flex: 4;

}

#div-resultados-cep {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 2;
}

#div-labels-entrega {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

#label-valor-prazo-entrega {
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
    margin: 4px;
}

#div-cep-content {
    display: flex;
    align-items: center;
    margin: 10px;
}

#div-total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;

}

#label-total {
    font-family: 'Work Sans', sans-serif;
    font-size: x-large;
    margin: 8px;
}

#label-total-valor {
    font-family: 'Work Sans', sans-serif;
    font-size: x-large;
    color: green;
    margin: 8px;
}

#div-resultados-totais {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#label-desconto {
    font-family: 'Work Sans', sans-serif;
    font-size: large;
}

#div-finalizar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    /*border-top: 0.5px solid #B6B6B8;*/
}

#div-botao-continuar {
    height: 40px;
    color: grey;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    border: 0.5px solid #B6B6B8;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#div-botao-finalizar {
    width: 200px;
    height: 40px;
    background-color: grey;
    margin: 10px;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    cursor: pointer;
}

#checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-checkout {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 120px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

#div-login-entrega-cartao {
    width: 30%;
    height: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#div-barra-checkout {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
}

#div-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#div-cartao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#input-cep {

}

#div-dados-checkout {
    display: flex;
    width: 95%;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

#div-detalhes-checkout {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#div-detalhes {
    width: 34%;
}

#div-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#div-barra-detalhes-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: larger;
    background-color: grey;
}

#div-nome-qtd-preco {
    display: flex;
    align-items: center;
    justify-content: center;
}

#label-detalhe {
    margin: 8px;
    font-family: 'Work Sans', sans-serif;
}

#div-pagar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    width: 90%;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
}

#div-total-detalhes {
    width: 100%;
    border-top: 0.5px solid grey;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#label-total-checkout {
    margin: 8px;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
}

#label-total-valor-checkout {
    margin: 8px;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    color: green;
}

#div-cadastro {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

#div-endereco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

#div-botao-cadastrar {
    background-color: grey;
    width: 100%;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    font-size: larger;
}

#label-cliente {
    margin: 8px;
    font-family: 'Work Sans', sans-serif;
}

#div-dados-cliente {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 920px) {

    #carrinho-body {
        width: 95%;
    }

    #div-dados-checkout {
        flex-direction: column;
    }

    #div-login-entrega-cartao {
        width: 100%;
    }

    #div-finalizar {
        flex-direction: column;
    }

    #div-botao-finalizar {
        width: auto;
    }

    #main-detalhes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 0.5px solid #B6B6B8;
    }

    #div-descricoes-produto {
        flex: 1;
    }

    #div-preco-unitario {
        display: none;
    }

    #div-delete {
        display: none;
    }

    #div-preco-unitario {
        width: 48%;
    }

    #div-quantidade-barra {
        width: 48%;
    }

    #div-descricoes {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #label-qtd {
        padding: 0;
    }
}
