#checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-checkout {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 120px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

#div-login-entrega-cartao {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#div-barra-checkout {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
}

#div-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#div-cartao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#input-cep {

}

#div-dados-checkout {
    display: flex;
    width: 95%;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

#div-detalhes-checkout {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#div-detalhes {
    width: 34%;
}

#div-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#div-barra-detalhes-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: larger;
    background-color: grey;
}

#div-nome-qtd-preco {
    display: flex;
    align-items: center;
    justify-content: center;
}

#label-detalhe {
    margin: 8px;
    font-family: 'Work Sans', sans-serif;
}

#div-pagar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    width: 90%;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
}

#div-total-detalhes {
    width: 100%;
    border-top: 0.5px solid grey;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#label-total-checkout {
    margin: 8px;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
}

#label-total-valor-checkout {
    margin: 8px;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    color: green;
}

#div-cadastro {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}


#div-botao-cadastrar {
    background-color: grey;
    width: 100%;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    font-size: larger;
}
