#header {
    position: sticky;
    top: 0;
}

#appBar {
    display: flex;
    align-items: center;
    background-color: white;
}

#toolbar {
    height: 100px;
    width: 90%;
}

#img-logo {
    width: 100px;
    height: 70px;
    cursor: pointer;
}

#main-toolbar {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#toolbar-left {
    display: flex;
    flex: 1;
}

#toolbar-center {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

#toolbar-right {
    display: none;
}

#button-menu {
    cursor: pointer;
    margin-right: 50px;
    font-size: medium;
    font-family: 'Work Sans', sans-serif;
}
